.mobile-menu__close {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../images/close-menu.svg);
  padding: 0;
  background-size: auto;
  background-position: center;
  position: absolute;
  right: 9px;
  top: 15px;
  cursor: pointer;
}