.link-button {
  @include reset-link;
  @include font-params(14px, 18px, 600, 1px);
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: $button-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}