.apps__link {
  @include reset-link;
  @include font-params(14px, 20px, 600);
  transition: opacity .15s linear;
  color: var(--text-color-primary);
  &:hover {
    opacity: .75;
  }
}

@media screen and (min-width: 1024px) {
  .apps__link {
    font-size: 18px;
    line-height: 28px;
  }
}