//светлая тема
$background-main-color-light: #F4F4F4;
$background-footer-color-light: #EFEFEF;
$text-primary-color-light: #151515;
$text-secondary-color-light: #222222;
$slider-color-light: #EBEBEB;
$input-border-color-light: #C7C7C7;
$element-color-light: #CFCFCF;

// темная тема
$background-main-color-dark: #333333;
$background-footer-color-dark: #2F2F2F;
$text-primary-color-dark: #FFFFFF;
$text-secondary-color-dark: #E6E6E6;
$slider-color-dark: #434343;
$input-border-color-dark: #7D7D7D;
$element-color-dark: #676767;

//цвет селектов и кнопок
$button-color: #24B47E;