.card__link {
  @include reset-link;
  display: block;
  line-height: 0;
  padding: 15px 15px 3px;
  border-radius: 20px 20px 0 0;
  background-color: var(--card-bg-color);
  box-shadow: 0px 20px 140px rgba(0, 0, 0, .06);
  transition: box-shadow .3s linear;
  &:hover {
    box-shadow: 0px 20px 140px rgba(0, 0, 0, .11);
  }
}

@media screen and (min-width: 768px) {
  .card__link {
    border-radius: 20px;
    padding: 20px;
  }
}