@mixin reset-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

@mixin reset-text {
  margin: 0;
  padding: 0;  
}

@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

@mixin font-params($size, $lh, $weight: 400, $ltr-space: normal) {
  font-size: $size;
  line-height: $lh;

  @if $weight != 400 {
    font-weight: $weight;
  }
  
  @if $ltr-space != normal {
    letter-spacing: $ltr-space;
  }
}