.slider__slide_decoration_gravel {
  &::after {
    content: '';
    background-image: url(../images/tt-track.png);
    grid-column: 2;
    grid-row: 3;
    background-size: cover;
  }
  &::before {
    content: "";
    background-image: url(../images/label-gravel.svg);
    margin-bottom: 16px;
    background-repeat: no-repeat;
    grid-column: 1;
    grid-row: 3;
    z-index: 1;
    align-self: end;
    height: 40px;
  }
}