.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 74px;
  padding-right: 18px;
}

@media screen and (min-width: 1024px) {
  .header {
    padding-right: 120px;
  }
}