.header__burger {
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(../images/burger.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-position: center;
  position: absolute;
  right: 9px;
  top: 14px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}